body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}

.top {
    display: flex;
    background-color: white;
    padding: 10px;
}

.logo img {
    width: 120px;
}

.heading {
    flex: 1;
    text-align: center;
}

h1 {
    color: rgb(78, 78, 250) 
}

h2 {
    color: rgb(77, 121, 138) 
}

h3 {
    color: rgb(123, 197, 177) 
}



.horizontal {
    background-color: #9a639b;
    text-align: center;
    padding: 10px;
}

.horizontal a {
    color: rgb(194, 203, 130);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.main {
    display: flex;
    height: 500px;
}

.vertical {
    width: 15%;
    background-color: #f5c8c8;
    padding: 10px;
}

.vertical a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(71, 63, 116);
}

.content {
    width: 85%;
    padding: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
p {
    color: #86537b;
    font-size: 15px;
    line-height: 1.6;
}

